$af-pre: af-;
$white-color: #fff;
$border-color: #ff9f43;
$dash-border-color: #f0f0f0;
$primary-color: #ff9ff3;
$assist-color: #bae7ff;
$disable-color: #c5c8ce;
$text-color: rgb(111, 0, 255);
$error-color: #e44233;
$bg-prev-color: #f5f7fa;

$font-size-base: 16px;
$font-size-mid: $font-size-base + 2;
$font-size-large: $font-size-base + 4;
$font-size-huge: $font-size-base + 10;

$lib-pre: "af-";
